<!-- breadcrumb.html -->
<!-- You can improve the logic. -->
<!-- Try use templatetags -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
    <li class="breadcrumb-item text-sm"><a
      class="opacity-5 text-dark"
      href="javascript:;"
    >Pages</a></li>
    <li
      class="breadcrumb-item text-sm text-dark active"
      aria-current="page"
    >
      {% if 'dashboard' in request.path %}
        Dashboard
      {% elif 'table' in request.path %}
        Tables
      {% elif 'billing' in request.path %}
        Billing
      {% elif 'notification' in request.path %}
        Notifications
      {% elif 'profile' in request.path %}
        Profile
      {% elif 'signin' in request.path %}
        Sign In
      {% elif 'signup' in request.path %}
        Sign Up
      {% else %}
        Index
      {% endif %}
    </li>
  </ol>
  <h6 class="font-weight-bolder mb-0">
    {% if 'dashboard' in request.path %}
      Dashboard
    {% elif 'table' in request.path %}
      Tables
    {% elif 'billing' in request.path %}
      Billing
    {% elif 'notification' in request.path %}
      Notifications
    {% elif 'profile' in request.path %}
      Profile
    {% elif 'signin' in request.path %}
      Sign In
    {% elif 'signup' in request.path %}
      Sign Up
    {% else %}
      Index
    {% endif %}
  </h6>
</nav>